/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
body{
  margin: 20px 40px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  background: #fafafa;
  background-image: url('./bg1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
::-webkit-scrollbar{
  display: none;
}
h2, h3, h4, ul, a, p, input, label, button, div, footer{
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  color: #444;
}
h1,li{
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  color: rgb(246, 247, 242);
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
p{
  font-size: 15px;
}

.btn{
  border-radius: 36px;
  background: #ba5de6;
}

header{
  display: flex;
  align-items: center;
}
header img{
  width: 250px;
  margin-right: 40px;
}
header h2{
  font-size: 3em;
  margin-bottom: 10px;
}
header h3{
  font-size: 1.6em;
  margin-bottom: 10px;
  margin-left: 2px;
  color: #999;
}
header .btn{
  margin-top: 20px;
  padding: 12px 18px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  font-size: 0.8em;
}

footer{
  text-align: center;
  margin-top: 120px;
  color: #aaa;
}
